@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Jeopardy® Everyone loves Jeopardy®.  This application will allow 2 players to compete against each other, testing their 
    basic trivia knowledge. Each player will select a topic and dollar amount. When presented with the answer, that player must
    enter the question. If the player is correct, the players score will increase by the dollar amount assigned to that question.
    &nbsp;Then, the other player gets to take a turn.  The game ends when all the answers have been picked.  The player with the
    highest score wins!</p>
</div>
