@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Everyone loves Jeopardy®.  And what better way to get better at Jeopardy® than to answer actual Jeopardy® questions?  I will give you the opportunity to select from
        6 randomly selected categories.  Once you select a category, I will display 5 questions and its your job to provide the answers.  As in Jeopardy®, each question is assigned 
        a specific value.  I will keep track of your score throughout the game.
    </p>
</div>
